extends layout

block content
    h1= title
    p Welcome to #{title}
    
    div(id='map')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCy6u1aDoikw1_TnS0SZcy4PkJDOBjaOeU')
        script(src='/javascripts/map.js')
