extends layout
block content

    
    
    h1= title
    //passed in from app.js
    p Welcome to #{title} 
    
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCy6u1aDoikw1_TnS0SZcy4PkJDOBjaOeU')
    script(async,defer,src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAiVJoQ7TIkdpaFmqlYoDhuUkx4x6ZnKHU&callback=initialize')
    script(src='/javascripts/map.js')
    
    button(onclick='removeMarkers()') Remove Markers
    
    div(id='origin_address')  Origin Address: 
    p(id='dest_address') Destination Address: 
    p(id='distance_in_meters') Distance (meters): 
    div(id='map')
    
    
    
        
    footer
        a(href='https://github.com/robinliu106/bostonMap/tree/master') Fork us on GitHub!
    
