extends layout

block content
    h1= title
    p Welcome to #{title}
    
    a(href='https://github.com/robinliu106/bostonMap/tree/master') Fork us on GitHub!
    
    
    div(id='map')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCy6u1aDoikw1_TnS0SZcy4PkJDOBjaOeU')
        script(src='/javascripts/map.js')
        
    
