body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

#map {
    height: 70%;
    width: 80%;
}
/* Optional: Makes the sample page fill the window. */

html, body {
    height: 100%;


}
